@using System.Globalization;
<div class="row">

    @if (System.Configuration.ConfigurationManager.AppSettings["WarningLabel"] != string.Empty)
    {
        <div id="Test" runat="server" visible="true" class="container text-center" style="width: 100% !important; background-color: rgb(255, 182, 105); color: white;">
            <marquee direction="right" height="30" width="400">
                <h3>@System.Configuration.ConfigurationManager.AppSettings["WarningLabel"] СРЕДА</h3>
            </marquee>
        </div>
    }
</div>
<header id="page-topbar">
    <div class="container">
        <div class="navbar-header" style="width:100%;">
            <div class="d-flex" style="justify-content: space-between; width:100%; align-items: center;">
                <div class="navbar-brand-box">
                    <a href="@Url.Action("Index","Home")" class="logo logo-dark" style="line-height: normal;">
                        <img src="/SmartRegistryPublic/Assets/images/logo.svg" alt="">
                        <div>
                            <p class="mobile -dn">ИСЦИПР</p>
                            <p style="font-weight: 500 !important;">@Resources.Content.ResourceManager.GetString("head_system_1")<br>@Resources.Content.ResourceManager.GetString("head_system_2")</p>
                            <span style="color:grey;">@Resources.Content.ResourceManager.GetString("head_meu")</span>

                        </div>
                    </a>
                </div>

                @if (CultureInfo.CurrentCulture.Name == "en-GB")
                {
                    <a href="@Url.Action("SelectLng", "BasePublic", new { id = 1})" id="lng">
                        <img src="@Url.Content("~/Assets/images/Flag_of_Bulgaria.svg.png")" width="25px" height="25px" style="margin-top:15px;" />
                    </a>
                }
                else
                {
                    <a href="@Url.Action("SelectLng", "BasePublic", new { id = 2})" id="lng">
                        <img src="@Url.Content("~/Assets/images/flag-english.jpg")" width="25px" height="25px" style="margin-top:15px;" />
                    </a>
                }
            <a href="#" class="menu-toggle"><i class="mdi mdi-menu"></i> @Resources.Content.ResourceManager.GetString("site_menu") </a>


            </div>


        </div>

        <nav>
            <ul>
                <li>
                    <span> @Resources.Content.ResourceManager.GetString("menu_registers") </span>
                    <ul>

                        <li class="active"> <a href="@Url.Action("Index","")">@Resources.Content.ResourceManager.GetString("base_start")</a></li>
                        <li> <a href="@Url.Action("Index","Registers")">@Resources.Content.ResourceManager.GetString("menu_registers")</a></li>
                        <li><a href="@Url.Action("Index","About")">@Resources.Content.ResourceManager.GetString("menu_agency")</a></li>
                        <li><a href="@Url.Action("Index","Contact")">@Resources.Content.ResourceManager.GetString("menu_contact")</a></li>
                    </ul>
        </nav>
    </div>
</header>




