<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ИСЦИПР</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")" />
    <!-- jquery.vectormap css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/app.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/libs/magnific-popup/magnific-popup.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content("~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/libs/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />
                                                                                                           
                                                                                                           
                                                                                                           


</head>

<body data-layout="horizontal">
    @Html.Partial("_Header")
    <div class="container-fluid">
    @RenderBody()
    </div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- <script src="@Url.Content("~/assets/libs/jquery/jquery.min.js")"></script>-->
    <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>


    <link href="@Url.Content("~/dist/table/css/chunk-vendors.css")" rel="stylesheet">
    <script src="@Url.Content("~/assets/js/app.js")"></script>
</body>

</html>
