@using SmartRegistry.Domain.Common
@using SmartRegistry.Domain.Entities
@using SmartRegistry.Web.Models

@model PagedResult<Area>

<div class="container-fluid">
    <!-- Begin page -->
    <div class="container">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">@Resources.Content.ResourceManager.GetString("area_index_header")</h4>
                    <div class="page-title-right">
                        <a href="@Url.Action("Create", "Area")" class="btn btn-success waves-effect waves-light">

                            <i class="mdi mdi-plus-box-multiple-outline"></i>@Resources.Content.ResourceManager.GetString("area_add_btn")
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="breadcrumb">
            <a href="~/Home/">@Resources.Content.ResourceManager.GetString("area_breadcrumb_start")</a> /
            @Resources.Content.ResourceManager.GetString("area_index_header")
        </div>
        <div class="main-content">
            <div class="page-content">
                <div id="app"></div>
                <script>
                    window.jsonData = {
                        jsonUrlFilter:
                            '@Url.Action("GetFilterControls", "Area")',
                        jsonUrlTable:
                            '@Url.Action(ViewBag.ListAction, "Area")'
                    }
                </script>
                <script defer="defer" type="module" src="@Url.Content("~/dist/table/js/chunk-vendors.js")"></script>
                <script defer="defer" type="module" src="@Url.Content("~/dist/table/js/app.js")"></script>
                <link href="@Url.Content("~/dist/table/css/chunk-vendors.css")" rel="stylesheet">
                <script defer="defer" src="@Url.Content("~/dist/table/js/chunk-vendors-legacy.js")" nomodule></script>
                <script defer="defer" src="@Url.Content("~/dist/table/js/app-legacy.js")" nomodule></script>

            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

</div>
