
@using SmartRegistry.Web.Models
@using SmartRegistry.Domain.Interfaces
@using SmartRegistry.Domain.Entities

<header id="page-topbar">
    <div class="container">
        <div class="navbar-header">
            <div class="d-flex" style="justify-content: space-between; width:100%; align-items: center;">
                <div class="navbar-brand-box">
                    <a href="@Url.Action("Index", "Home")" class="logo logo-dark" style="line-height: normal;">
                        <img src="~/Images/logo.svg" alt="" />
                        <div>
                            <p class="mobile -dn">ИСЦИПР</p>
                            <p style="font-weight: 500 !important;">Информационна система за централизирано <br>изграждане и поддържане на регистри</p>
                            <span style="color:grey;">МИНИСТЕРСТВО НА ЕЛЕКТРОННОТО УПРАВЛЕНИЕ</span>
                            @*<p class="mobile">ИСЦИПР</p>
                    <p class="desktop">Информационна система <br>за централизирано изграждане <br>и поддържане на регистри</p>*@
                        </div>
                    </a>
                </div>
                @*<input type="button" class="btn btn-success waves-effect waves-light" value="Назад!" onclick="history.back()">*@

                <a href="#" class="menu-toggle"><i class="mdi mdi-menu"></i> Меню</a>
            </div>
        
         
            </div>
        
        @if (User.Identity.IsAuthenticated)
                {
                   <nav>
                       <ul>
                           <li>
                               <span> Регистри </span>
                               <ul>
                                   @if (TempData["sm"] != null)
                                   {
                                       var smContext = (ISmartRegistryContext)TempData["sm"];
                                       if (smContext.CurrentUser.HasPermission(PermissionEnum.AccessInfoObjects))
                                       {
                                           <li><a href="@Url.Action("Index", "UnifiedData")">Информационни обекти</a></li>
                                       }
                                   }

                                   <li><a href="@Url.Action("Index", "Registers")">Регистър на регистрите</a></li>
                                   <li><a href="@Url.Action("Structure","Registers")">Структура на регистър</a></li>
                               </ul>
                           </li>

                           <li>
                               <span>Номенклатури</span>
                               <ul>
                                   @if (TempData["sm"] != null)
                                   {
                                       var smContext = (ISmartRegistryContext)TempData["sm"];

                                       if (smContext.CurrentUser.HasPermission(PermissionEnum.AccessAdminBodies))
                                       {
                                           <li><a href="@Url.Action("Index", "AdministrativeBodies")">Административни органи</a></li>
                                       }
                                       if (smContext.CurrentUser.HasPermission(PermissionEnum.ManageUsers))
                                       {
                                           <li><a href="@Url.Action("Index", "UserGroups")">Потребителски групи</a></li>
                                           <li><a href="@Url.Action("Index","Users")">Потребители</a></li>

                                       }
                                   }

                               </ul>
                           </li>
                           @if (TempData["sm"] != null)
                           {
                               var smContext = (ISmartRegistryContext)TempData["sm"];

                                   <li>
                                       <span>Системни</span>
                                       <ul>
                                           @if (smContext.CurrentUser.HasPermission(PermissionEnum.AccessJournalLog))
                                           {
                                               <li><a href="@Url.Action("Index", "SystemLog")">Системен журнал лог</a></li>
                                           }
                                           <li><a href="@Url.Action("Index", "Area")">Теми</a></li>
                                           <li> <label style="visibility:hidden">2</label></li>
                                       </ul>
                                   </li> 
                               

                           }
                               </ul>
                    </nav>
                }
    </div>
</header>



