@using SmartRegistry.Domain.Common
@using System.Collections.Generic;
@using SmartRegistry.Domain.Entities
@model List<SmartRegistry.Domain.Entities.AreaGroup>

@{
    ViewBag.Title = "Theme";
}

    <div class="container">
        <div class="main-content">
             <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <div class="breadcrumb">

                            <a href="~/Home/">@Resources.Content.ResourceManager.GetString("base_start")</a> /

                            @Resources.Content.ResourceManager.GetString(@Model.Where(x => x.Id == ViewBag.SelectedTheme).FirstOrDefault().Name)

                            @if (@Resources.Content.ResourceManager.GetString(@Model.Where(x => x.Id == ViewBag.SelectedTheme).FirstOrDefault().Name) != null)
                            {
                                @Resources.Content.ResourceManager.GetString(@Model.Where(x => x.Id == ViewBag.SelectedTheme).FirstOrDefault().Name)
                            }
                            else
                            {
                                @Model.Where(x => x.Id == ViewBag.SelectedTheme).FirstOrDefault().Name
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
        <div class="row">
            <div class="col-sm-4 sidebar">
                <h3></h3>
                @foreach (AreaGroup ag in Model)
                {

                    if (ag.Id == ViewBag.SelectedTheme)
                    {

                        if (@Resources.Content.ResourceManager.GetString(ag.Name) != null)
                        {
                            <a href="~/Home/Theme/@ag.Id" class="theme-links active">
                                <strong> @Resources.Content.ResourceManager.GetString(ag.Name)</strong> <br />
                                @Resources.Content.ResourceManager.GetString(ag.Description)
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/Theme/@ag.Id" class="theme-links active">
                                <strong>@ag.Name</strong> <br />
                                @ag.Description
                            </a>

                        }



                    }
                    else
                    {
                      

                        if (@Resources.Content.ResourceManager.GetString(ag.Name) != null)
                        {
                            <a href="~/Home/Theme/@ag.Id" class="theme-links">
                                <strong> @Resources.Content.ResourceManager.GetString(ag.Name)</strong> <br />
                                @Resources.Content.ResourceManager.GetString(ag.Description)
                            </a>
                        }
                        else
                        {
                            <a href="~/Home/Theme/@ag.Id" class="theme-links">
                                <strong>@ag.Name</strong> <br />
                                @ag.Description
                            </a>

                        }


                    }

                }
            </div>
            
            
            @if (ViewBag.SelectedTheme != null)
            {
                var selected = Model.Where(x => x.Id == ViewBag.SelectedTheme).FirstOrDefault();
        <div class="col-sm-8 content-main">
            <h1></h1>
            @if (@Resources.Content.ResourceManager.GetString(@selected.Name) != null)
            {
                <h2>@Resources.Content.ResourceManager.GetString(@selected.Name)</h2>
            }
            else
            {
                <h2>@selected.Name</h2>
            }

        <div class="sub-links">
            @foreach (Area ar in selected.AreaList)
            {


                if (@Resources.Content.ResourceManager.GetString(@ar.Name) != null)
                {
                    <a href="~/Registers/Show/@ar.Id">                  
                        <strong> @Resources.Content.ResourceManager.GetString(@ar.Name)</strong> <br />
                        @Resources.Content.ResourceManager.GetString(@ar.Description)
                    </a>
                }
                else
                {
                    <a href="~/Registers/Show/@ar.Id">
                        <strong>@ar.Name</strong> <br />
                    @ar.Description
                    </a>
                }


            }
        </div>
        </div>

                
            }
        </div>
      </div>
            </div>

    </div>
</section>