@using SmartRegistry.Domain.Common
@using PagedList.Mvc;
@using SmartRegistry.Domain.Entities

<div class="container-fluid">
    <!-- Begin page -->
    <div class="container">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">@Resources.Content.ResourceManager.GetString("import_create_header") </h4>
                    <div class="page-title-right">
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="breadcrumb">
            <a href="~/Home/">@Resources.Content.ResourceManager.GetString("import_create_breadcrumb_start")</a> /
            <a href="~/Import/">@Resources.Content.ResourceManager.GetString("import_create_breadcrumb_importdata")</a>  / 
            @Resources.Content.ResourceManager.GetString("import_create_header")
        </div>
        <div class="main-content">
            <div class="page-content">
                @using (Html.BeginForm("CreateData", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row text-center">
                        <div class="col-xl-12">
                            <h3 class="form-label">  @Resources.Content.ResourceManager.GetString("import_create_pick_register")</h3> <br />
                            @Html.DropDownList("RegisterList", new SelectList(ViewBag.Registers, "Id", "Name"), new {  @class="form-control" })
                        </div>

                    </div>
                    <div class="row">
                        <br />
                        <p>


                        </p>
                        <div class="col-xl-3">

                        </div>
                        <div class="col-xl-3">
                            <input type="submit" value="@Resources.Content.ResourceManager.GetString("import_create_generate_csv")" name="submitButton" class="btn btn-success waves-effect waves-light" />
                        </div>
                        <div class="col-xl-3">
                            <input type="submit" value="@Resources.Content.ResourceManager.GetString("import_create_generate_csv_data")" name="submitButton" class="btn btn-success waves-effect waves-light" />
                        </div>
                        <div class="col-xl-3">

                        </div>
                        @*<div class="col-xl-3">
                    <input type="submit" value="Качи CSV" name="submitButton" class="btn btn-success waves-effect waves-light" />
                </div>*@

                    </div>
                   
                    <div class="row text-center" style="margin-top:100px;">
                        <h3 class="form-label">@Resources.Content.ResourceManager.GetString("import_create_upload_csv_header")</h3> <br />
                        <p>


                        </p>
                        <div class="col-xl-4">

                        </div>
                        <div class="col-xl-4">

                            @Html.TextBox("file", "", new { type = "file", accept = ".csv" , @class="form-control"}) <br />
                            <p>


                            </p>
                            <input type="submit" value="@Resources.Content.ResourceManager.GetString("import_create_upload_csv_btn")" name="submitButton" class="btn btn-success waves-effect waves-light" />
                            <p>


                            </p>
                            <br />
                            @ViewBag.Message
                        </div>
                        <div class="col-xl-4">

                        </div>

                    </div>

                }
                <!-- end row -->




            </div>
                    <!-- End Page-content -->

                </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

</div>
