@using SmartRegistry.Domain.Common
@using PagedList.Mvc;
@using SmartRegistry.Domain.Entities
@model ImportHead

<div class="container-fluid">
    <!-- Begin page -->
    <div class="container">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Импортиране на данни </h4>
                    <div class="page-title-right">
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="breadcrumb">
            <a href="~/Home/">Начало</a> /  <a href="~/Import/">Импортиране на данни</a>  / Преглед / @Model.UserFileName
        </div>
        <div class="main-content">
            <div class="page-content">
                @using (Html.BeginForm("ReviewData", "Import", new { Id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="text-center">
                        <h3> @Model.Register.Name </h3><br />
                        Файл качен на: @Model.InsDateTime <br />
                        Статус: @Model.Status <br />
                        Качено от: @Model.CreatedBy.Name <br />
                        Име на файл: @Model.UserFileName <br />

                    </div>
                    if (Model.Status != ImportHeadStatus.Validated)
                    {
                        <div class="row" style="margin-top:30px;">
                            <br />
                            <div class="col-xl-3">
                            </div>
                            <div class="col-xl-3">
                                <input type="submit" value="Валидирай" name="submitButton" class="btn btn-success waves-effect waves-light" />
                            </div>
                            <div class="col-xl-3">
                                <input type="submit" value="Качи файл отново" name="submitButton" class="btn btn-success waves-effect waves-light" />
                            </div>
                            <div class="col-xl-3">
                            </div>
                        </div>
                    }
                    if (Model.Status == ImportHeadStatus.Validated)
                    {
                        <div class="row" style="margin-top:30px;">
                            <br />
                            <div class="col-xl-3">
                            </div>
                            <div class="col-xl-3">
                                <input type="submit" value="Импортирай" name="submitButton" class="btn btn-success waves-effect waves-light" />
                            </div>
                            <div class="col-xl-3">
                                <input type="submit" value="Импортирай със зануляване" name="submitButton" class="btn btn-success waves-effect waves-light" />
                            </div>
                            <div class="col-xl-3">
                            </div>
                        </div>
                    }
                    if ((@ViewBag.ValidationErrors != null) && (@ViewBag.ValidationErrors != string.Empty))
                    {
                        <div class="row text-center" style="margin-top:50px;">
                            <h3 class="form-label">Грешки при валидация</h3> <br />
                            <p>
                                @ViewBag.ValidationErrors

                            </p>
                        </div>
                    }
                    if (@ViewBag.InsertResult != null)
                    {
                        <div class="row text-center" style="margin-top:50px;">
                            <h3 class="form-label">@ViewBag.InsertResult</h3> <br />
                            
                        </div>
                    }

                    if (@ViewBag.ShowFile != null)
                    {
                        <div class="row text-center" style="margin-top:100px;">
                            <h3 class="form-label">Качване на CSV</h3> <br />
                            <p>


                            </p>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                                @Html.TextBox("file", "", new { type = "file", accept = ".csv", @class = "form-control" }) <br />
                                <p>


                                </p>
                                <input type="submit" value="Качи CSV" name="submitButton" class="btn btn-success waves-effect waves-light" />
                                <p>


                                </p>
                                <br />
                                @ViewBag.Message
                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>
                    }
                }
                <!-- end row -->




            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

</div>
